/*Main Page Settings*/
.container{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 5px;
}

/*Question Section Side*/
h1 {
	font-size: 30px;
	color: #0f0f0f;
}
#questionTable{
	width: 100%;
	white-space: nowrap;
}
.answerBox{
	font-size: 15px;
	width: 50px;
	text-align: center;
}
.questionTableCells {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 20px;
	width: 50px;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
}
.questionButtons{
	font-size: 15px;
	width: 100%;
	font-weight: bold;
}

/*Option Section Side*/
#optionTable{
	width: 100%;
	float: center;
	margin: auto;
}
button{
	width: 100%;
	margin: auto;
}
.optionSection{
	width: 40%;
	
	margin: auto;
	margin-top: 10%;
}

/*Testing Borders*/
table{
	border: 2px solid red;
}
div{
	border: 2px solid green;
}
.container{
	border: 2px solid yellow;
}